.banniere-img{
  width: 100%;
  height: auto;
}

.planning-img{
  width: 100%;
  height: auto;
}

.planning{
  border-top: #b9b9b9 1px solid;
  margin-top: 4%;
  padding-top: 2%;
}

#banniere-mobile{
  display: none;
}
