section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-sect {
    background-color: #ffd240 !important;
    border-radius: 5px;
    padding: 20px;
}

h1 {
    text-align: center;
}

.btn-apoal{
    background-color: black !important;
}

.logo-apoal{
    height: 65px;
}

.navbar{
    box-shadow: 5px 5px 5px #d7d7d7;
    padding-right: 5% !important;
    padding-left: 5% !important;
}

.active{
    border-bottom: #eda6a6 2px dashed !important; /*#bf5800 */
    background-color: #fff6ed !important;
    border-radius: 6px;
}

/*
    border-bottom: #bf5800 2px dashed !important;
    background-color: #f0ebe7;
    border-radius: 6px;
}
*/