section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-sect {
    background-color: #ffd240 !important;
    border-radius: 5px;
    padding: 20px;
}

h1 {
    text-align: center;
}

.btn-apoal{
    background-color: black !important;
}

.logo-apoal{
    height: 65px;
}

.navbar{
    box-shadow: 5px 5px 5px #d7d7d7;
}